#%RAML 1.0
baseUri: https://mocksvc.mulesoft.com/mocks/d2d5961c-381b-4ac8-9441-7aa683938ab5 # 
version: v1
title: payment-api

mediaType: application/json

uses:
  traits: /exchange_modules/cf176b9e-e66a-4f8e-8ac9-48aeed81f9ad/commons-traits/1.0.0/traits.raml
  customer: /exchange_modules/cf176b9e-e66a-4f8e-8ac9-48aeed81f9ad/customer-datatypes/1.0.3/customer-datatypes.raml
  payments: /exchange_modules/cf176b9e-e66a-4f8e-8ac9-48aeed81f9ad/payment-datatypes/1.0.9/payment-datatypes.raml

/payments:
  /{customerID}:
    get:
      is: [ traits.secure ]
      description: Retrieve all payment methods of a provided customer
      responses:
        200:
          body: 
            type: payments.CustomerPayment
        404:

  /{customerID}/card:
    post:
      is: [ traits.secure ]
      description: Add a new card payment info of a provided customer and return the path to retrieve its info
      body:
        type: payments.NewCustomerPayment
        example: !include /exchange_modules/cf176b9e-e66a-4f8e-8ac9-48aeed81f9ad/payment-examples/1.0.6/new-payment-example.raml
      responses: 
        201:
          headers: 
            Content-Location:
              type: string
              example: https://mocksvc.mulesoft.com/mocks/775ff22b-9608-4e78-96c2-2bfe27150187/payments/14782369/card/12345

  /{customerID}/card/{paymentID}:
    get:
      is: [ traits.secure ]
      description: Retrieve a card payment info of customer or a 404 error if there is no data.
      responses: 
        200:
          body:
            type: payments.CardPaymentData
        404: